@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 900px;
    margin: auto;
}

.odd {
    background-color: #fff;
}
.pair {
    background-color: #eee;
}

.title {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 500;
    display: flex;

}
.bar {
    width: 10px;
    height: auto;
    background-color: orange;
    margin-right: 10px;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}






header {
    height: 80px;
    background-color: #010118;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo a {
    width: 50px;
    height: 50px;

    font-size: 11px;
    padding: 10px;

    color: #fff;
    border-radius: 50%;
}
header .logo a:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

header menu nav ul,
menu nav ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
}
header a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    margin: 0px 10px;
    color: #fff;

    transition: all 0.05s linear;
}
header a:hover {
    background-color: #fff;
    color: #000;
}




main,
section {
    padding: 100px 0px;
}

main .title {
    display: flex;
    justify-content: start;
    align-items: center;
}

main .bar {
    width: 10px;
    height: 30px;
    background-color: orange;
}

main ul {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

main ul li {
    margin-left: 20px;
    padding: 20px;
    list-style: none;

    transition: all 0.05s linear
}

main ul li:hover {
    background-color: orange;
    transform: scale(1.05);
}

main a {
    display: block;
    width: 100%;
    height: 100%;
}



form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-left: 10px solid orange;
    padding-left: 10px;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;

    outline: none;
}

button {
    width: 120px;
    padding: 10px;

    background-color: #ccc;
    border: none;

    transition: all 0.05s linear;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}


h3,
p {
    line-height: 35px;
    font-size: 18px;
    margin: 10px 0px;
    padding: 10px;
}

footer {
    background-color: #111111;
    color: #999;
    min-height: 200px;
    padding: 30px 0px;
}

footer .container {
    display: flex;
    justify-content: start;
    align-items: center;
}

footer a {
    display: inline-block;
    color: #ddd;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    margin-top: 20px;
}

footer .area {
    margin: 00px 50px;
}
